body {
  margin: 5% auto;
  padding: 10px;
  width: 700px;
  font-family: "Lora", serif;
}
.form-search {
  margin: 10px 6px 10px 6px;
  font-size: 16px;
}
.city-input {
  margin: 5px;
  padding-left: 25px;
  width: 61%;
  height: 50px;
  border: 2px outset rgba(142, 159, 230, 0.3);
  border-radius: 30px;
  box-shadow: -1px 5px 20px rgba(0, 0, 0, 0.1);
}
.search-button {
  margin: 5px;
  width: 16%;
  height: 51px;
  color: #111f5b;
  background-color: #f1f4fc;
  border: 2px outset rgba(142, 159, 230, 0.3);
  border-radius: 20px;
  box-shadow: -1px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #c7d0e8;
}

.weather,
.headline {
  margin: 0;
  max-width: 50rem;
}
.headline-list,
.city,
.time {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  text-transform: capitalize;
}
.city {
  padding-left: 5%;
  color: #111f5b;
  font-weight: 400;
  font-size: 32px;
}
.time {
  padding: 3%;
  text-align: right;
  color: #111f5b;
  font-weight: 100;
  font-size: 15px;
  vertical-align: middle;
}
.location-weather {
  padding: 0;
  text-align: left;
  max-height: 100px;
}
.location {
  padding-left: 1px;
  color: #111f5b;
  font-size: 70px;
  font-weight: 500;
  max-width: 13rem;
  position: relative;
  top: -25px;
}
.weather-img {
  vertical-align: 0;
}
.temp-units {
  position: relative;
  top: -65px;
}
.temp {
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
}
.data {
  color: #111f5b;
  font-size: 16px;
  font-weight: 300;
  direction: rtl;
}
.data-list {
  margin: 0;
  padding: 2%;
  list-style: none;
  text-align: right;
  text-transform: capitalize;
}
.github-link {
  margin: auto;
  font-size: 10px;
  text-align: center;
}
.active {
  color: black;
  text-decoration: none;
}
.active:hover {
  cursor: default;
  text-decoration: none;
}
