body {
  margin: 5% auto;
  padding: 10px;
  width: 700px;
  font-family: "Lora", serif;
}
.form-search {
  margin: 20px 6px 23px 6px;
  font-size: 16px;
}
.city-input {
  margin: 5px;
  padding-left: 25px;
  width: 61%;
  height: 50px;
  border: 2px outset rgba(142, 159, 230, 0.3);
  border-radius: 30px;
  box-shadow: -1px 5px 20px rgba(0, 0, 0, 0.1);
}
.search-button {
  margin: 5px;
  width: 16%;
  height: 51px;
  color: #111f5b;
  background-color: #f1f4fc;
  border: 2px outset rgba(142, 159, 230, 0.3);
  border-radius: 20px;
  box-shadow: -1px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #c7d0e8;
}

.weather,
.headline {
  margin: auto;
  text-align: center;
  max-width: 53rem;
}
.city {
  padding: 1%;
  color: #111f5b;
  font-weight: 400;
  font-size: 22px;
  padding-left: 3%;
  text-align: left;
  text-transform: capitalize;
}
.time {
  padding: 1%;
  color: #111f5b;
  font-weight: 100;
  font-size: 20px;
  padding-right: 3%;
  text-align: right;
}
.location-weather {
  padding-left: 3%;
  text-align: left;
}
.location {
  padding-left: 7px;
  color: #111f5b;
  font-size: 79px;
  font-weight: 500;
  max-width: 13rem;
}
.location-pic {
  font-size: 100px;
}
.temp {
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
}
.data {
  margin: auto;
  padding: 1%;
  color: #111f5b;
  font-size: 16px;
  font-weight: 300;
  direction: rtl;
}
.data-list {
  list-style: none;
  padding: 4%;
  margin: 0;
  text-align: right;
  text-transform: capitalize;
}
.card-deck {
  font-size: 40px;
  text-align: center;
  max-width: 50rem;
  margin-bottom: 10px;
}
.card-body {
  padding: 5px;
}
.week-day {
  border: 0 solid;
  transition: all 150ms ease-in-out;
}
.week-day:hover {
  background-color: #f1f4fc;
}
.card-title {
  font-size: 14px;
  font-weight: 300;
}
.card-pic {
  font-size: 50px;
}
.card-text {
  margin: 5px;
  font-size: 20px;
}
.fa-cloud,
.fa-cloud-sun-rain,
.fa-cloud-showers-heavy {
  color: #8e9fe6;
}
.fa-sun,
.fa-cloud-sun {
  color: #ffbd39;
}
.github-link {
  margin: auto;
  font-size: 7px;
  text-align: center;
}
