body {
  margin: 5% auto;
  padding: 10px;
  width: 700px;
  font-family: "Lora", serif;
  color: #48484a;
}
.card-body {
  padding: 5px;
}
.form-search {
  margin: 10px 6px 10px 6px;
  font-size: 16px;
}
.city-input {
  margin: 5px;
  padding-left: 25px;
  width: 61%;
  height: 50px;
  border: 2px outset #ec6e4c;
  border-radius: 30px;
  box-shadow: -1px 5px 20px rgba(231, 139, 115, 0.1);
}
.search-button {
  margin: 5px;
  width: 16%;
  height: 51px;
  color: #48484a;
  background-color: #fdf8f6;
  border: 2px outset #ec6e4c;
  border-radius: 20px;
  box-shadow: -1px 5px 20px rgba(231, 139, 115, 0.1);
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #fdf1ee;
}

.weather,
.headline {
  margin: 0;
  max-width: 50rem;
}
.headline-list,
.city,
.time {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  text-transform: capitalize;
}
.city {
  padding-left: 5%;
  font-weight: 400;
  font-size: 32px;
}
.time {
  padding: 3%;
  text-align: right;
  font-weight: 100;
  font-size: 15px;
  vertical-align: middle;
}
.location-weather {
  padding: 0;
  text-align: left;
  max-height: 100px;
}
.location {
  padding-left: 1px;
  font-size: 70px;
  font-weight: 500;
  max-width: 13rem;
  position: relative;
  top: -25px;
}
.weather-img {
  vertical-align: 0;
}
.temp-units {
  position: relative;
  top: -65px;
}
.temp {
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
}
.data {
  font-size: 16px;
  font-weight: 300;
  direction: rtl;
}
.data-list {
  margin: 0;
  padding: 2%;
  list-style: none;
  text-align: right;
  text-transform: capitalize;
}
.forecast {
  margin: 1%;
  margin-bottom: 20px;
}
.forecact-card {
  margin: 1%;
  padding: 2%;
  text-align: center;
  border-radius: 20px;
}
.forecact-card:hover {
  background-color: #fdf8f6;
}
.github-link {
  margin: auto;
  font-size: 10px;
  text-align: center;
}
.active {
  color: black;
  text-decoration: none;
}
.active:hover {
  cursor: default;
  text-decoration: none;
}
